/.user.project.json
/sap-ui-cachebuster-info.json

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store
target/
/target/**
log/
bin/
.classpath
.project
.springBeans
.settings/
/.settings/**
.idea/
test-output/
settings.xml
build.cmd
deploy*.cmd
npm-debug.log
node_modules
